.App {
  text-align: center;
  background-image: url('./images/background.jpg');
  height: 100vh;
}

.navbar{
  position: fixed;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #050505
  ;
  width:100%
}
.nav_link {
  color: #D6CDC7;
  font-weight: bold;
font-size: 30px;
line-height: 35px;
}
.nav_item{
  float: right;
  display: block;
  color: #D6CDC7;
  text-align: center;
  padding: 25px 16px;
  text-decoration: none;
}
.nav_title{
  float:left;
  display: block;
  color: #D6CDC7
  ;
  font-weight: bold;
font-size: 40px;
line-height: 64px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.background_image_container{
  width:100vw;
  height: 100vh;
  background-color: rgb(8, 8, 8);
}
.background_image{
  
  max-height: 100%;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
