
.App {
  text-align: center;
  background-image: url('./images/backgroung2.jpg');
  object-fit: cover;
  background-size: 100vh 100%;
  background-position: left 0 top 100vh;
  background-repeat: repeat-y; 
  height: 100vh;
  width: 100vw;
  
  
}


.background-img{
  
  width: 100%;
 height: 100vh;
}

.background-img-con{ 

  background-image: url('./images/backgroung2.jpg');
  background-size: 100vw 100%;
  background-position: left 0 bottom 0;
  width:100vw;
  height: 100vh;
  
}

.navbar{
  position: fixed;
  top: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #050505
  ;
  width:100%
}
.nav_link {
  color: #D6CDC7;
  font-weight: bold;
font-size: 30px;
line-height: 35px;
}
.nav_item{
  float: right;
  display: block;
  color: #D6CDC7;
  text-align: center;
  padding: 25px 16px;
  text-decoration: none;
}
.nav_title{
  float:left;
  display: block;
  color: #D6CDC7
  ;
  font-weight: bold;
font-size: 40px;
line-height: 64px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.background_image_container{
  width:100vw;
  height: 100vh;
  background-color: rgb(8, 8, 8);
}
.background_image{
  
  background-image: url('./images/background.jpg');
  background-size: 100vw 100vh;
  background-position: 0 90px;
  height: 100vh;
}

.home-recipes-container{
  position: absolute;
  top: 390px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  
  
}
.recipes-container{
  position: absolute;
  top: 320px;
  display: grid;
  grid-template-columns: repeat(5, 15%);
  grid-gap :100px; 
  
  width: 60%;

}
.home-recipes-img-container{
  width: 200px;
  height: 200px;
 
}
.home-recipes-img{
  max-width: 100%;
  
}
.form-container{
  
  width: 50%;
  position: absolute;
  top:200px;
  left: 50%;
}
.search-input{
  height: 50px;
  width: 300px;
}
.item{
  width: 15%;
  color: #D6CDC7;
  margin-left: 50px;

  font-size: 1.3em;
}
.no-result{
  position: absolute;
  top : 300px;
  left: 35%;
  color: #D6CDC7;
  text-align: center;
  margin: auto;

}
.search-recipes-img-container{
  width: 150px;
  height: 150px;
  margin-left: 50px;

}
ul {
  list-style-type: none;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
